:root {
  --vermelho: #e50914;
  --preta: #141414;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #2faeff;
  text-decoration: none;

  -webkit-transition: 0.15s color ease;
  -moz-transition: 0.15s color ease;
  -ms-transition: 0.15s color ease;
  -o-transition: 0.15s color ease;
  transition: 0.15s color ease;
}
a:hover {
  color: #68c4ff;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--preta);
  color: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
}

/* Elemendtos da barra de navegaação */

header .container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

header nav a {
  text-decoration: none;
  color: #fff;
  margin-right: 10px;
  transition: color 0.4s ease-in-out;
}

header nav a:hover {
  color: #aaa;
}

.logo {
  color: var(--vermelho);
  font-size: 29px;
  margin-right: 20px;
}

.navbar {
  position: sticky;
}

/* Elemendtos do filme principal */
.container-body {
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 20%,
      rgba(20, 20, 20, 1)
    ),
    url(/img/ex4kvQb0Ski5KL2fsnKQU2hV3oo.jpg);
  background-size: cover;
  height: 70vh;
}

.filme-principal {
  font-size: 18px;
  /* background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) 100%),
    url(/img/ex4kvQb0Ski5KL2fsnKQU2hV3oo.jpg); */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 600px;
}

.filme-principal .descricao {
  margin-top: 1%;
  margin-bottom: 1%;
}

.filme-principal .titulo {
  font-size: 50px;
  margin-top: 15%;
}

.botao-d {
  background-color: rgba(109, 109, 110, 0.7);
  border: none;
  border-radius: 0.3rem;
  color: white;
  padding: 0.7rem 1rem;
  margin-right: 0.3rem;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}
.botao-d:hover {
  background-color: rgba(109, 109, 110, 0.6);
}

.botao-e {
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  border-radius: 0.3rem;
  color: rgb(0, 0, 0);
  padding: 0.7rem 1rem;
  margin-right: 0.3rem;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}
.botao-e:hover {
  background-color: rgba(255, 255, 255, 0.6);
}

.botao i {
  margin-right: 0.8rem;
}

.container {
  padding-left: 2rem;
  margin-right: 1rem;
}

.filme-principal .container {
  width: 60%;
}

.box-filme {
  height: 100%;
  width: 100%;
  display: block;
}

.carousel-filmes {
  margin-top: 3rem;
  margin-left: 2rem;
}

.lp {
  padding-bottom: 1rem;
  font-size: 2rem;
  font-weight: 800;
}

.item {
  overflow: hidden;
  margin: 0px auto;
  border-radius: 10px;
  position: relative;
}

/* footer */
.container .criador {
  display: flex;
  justify-content: center;
  font-size: 1rem;
  margin: 20px;
}
.asspop {
  color: black;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.cont {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.bt-fechar {
  display: flex;
  justify-content: center;
  align-items: center;

  border: 0px;
  padding: 5px 9px;
  margin: 0px;
  border-radius: 10px;

  cursor: pointer;
  color: #fff;
  background: #4a4e50;
  font-size: 18px;

  outline: none;

  -webkit-transition: 0.15s background ease;
  -moz-transition: 0.15s background ease;
  -ms-transition: 0.15s background ease;
  -o-transition: 0.15s background ease;
  transition: 0.15s background ease;
}
.bt-fechar:hover {
  background: #252627;
}
.bt-fechar active {
  background: #252627;
}
.bt-fechar + .bt-fechar {
  margin-left: 5px;
}
.mais-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 20px;
  color: #141414;
  text-align: justify;
}

.informacao {
  font-size: 18px;
}

.mais-info h3 {
  padding-bottom: 1rem;
}
