:root {
  --vermelho: #e50914;
  --preta: #141414;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--preta);
  color: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
}

/* elemendtos da barra de navegaação */

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header nav a {
  text-decoration: none;
  color: #fff;
  margin-right: 10px;
  transition: color 0.4s ease-in-out;
}

header nav a:hover {
  color: #aaa;
}

.logo {
  color: var(--vermelho);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 40px;
  margin-right: 10px;
}

/* elemendtos do filme principal */
.filme-principal {
  font-size: 16px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) 100%),
    url(/img/ex4kvQb0Ski5KL2fsnKQU2hV3oo.jpg);
  height: 400px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.filme-principal .descricao {
  margin-bottom: 40px;
}

.titulo {
  font-size: 40px;
}
